{% extends 'base.html.twig' %}

{% block title %}Catégorie | Modifier {{ category.name }}{% endblock %}

{% block main %}
    <a class="link__default" href="{{ path('admin.category.index') }}"><i class="fas fa-arrow-left"></i> Catégories</a>

    <div class="container mt-4">
        <h1 class="default__title">Modifier la catégorie {{ category.name }}</h1>
        {{ include('admin/category/_form_category.html.twig', {form: form,styleIcon: 'padding-right: 6px;', icon: 'fas fa-pen', button: 'Modifier'}) }}
    </div>

{% endblock %}

